.select {
    background-image: url('/icons/arrow-down.svg');
    background-position: right 0.75rem center;
    background-repeat: no-repeat;
    background-size: 0.75em 0.75em;

    @apply py-1 pl-3 pr-8 text-center transition bg-transparent border rounded appearance-none cursor-pointer hover:border-strong;
}
