:root {
    --space-0: 0rem;
    --space-1: 0.115rem;
    --space-2: 0.146rem;
    --space-3: 0.186rem;
    --space-4: 0.236rem;
    --space-5: 0.3rem;
    --space-6: 0.382rem;
    --space-7: 0.486rem;
    --space-8: 0.618rem;
    --space-9: 0.786rem;
    --space-10: 1rem;
    --space-11: 1.272rem;
    --space-12: 1.618rem;
    --space-13: 2.058rem;
    --space-14: 2.618rem;
    --space-15: 3.33rem;
    --space-16: 4.236rem;
    --space-17: 5.388rem;
    --space-18: 6.854rem;
    --space-19: 8.718rem;
    --space-20: 11.089rem;
}
