/* highlight */
.highlight {
    text-decoration: none;
    color: var(--color-primary);
}

.highlight:hover {
    text-decoration: underline;
}

/* primary */
.primary {
    text-decoration: none;
    color: var(--color-stronger);
}

.primary:hover {
    text-decoration: underline;
}

/* secondary */
.secondary {
    text-decoration: none;
    color: var(--color-strong);
}

.secondary:hover {
    color: var(--color-stronger);
}

/* disabled */
.disabled {
    text-decoration: none;
    cursor: default;
    color: var(--color-light);
}

/* default */
.default {
    text-decoration: none;
    color: inherit;
}
