.list {
    font-family: var(--font-sans);
    font-size: var(--font-size);
    color: var(--color-text);
    list-style: none;
    padding: 0;
    margin: 2em 0;
}

.list > * {
    margin: 1em 0;
}

.list > *::before {
    content: '–';
    color: var(--color-neutral-3);
    padding: 0 1em;
}

.list > *::marker {
    color: var(--color-neutral-3);
}
