# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# next.js
.next/

# vercel
.vercel/

# environmental variables
.env

# miscellaneous
.DS_Store

.vercel
