@font-face {
    font-family: 'Inter';
    font-weight: 125 950;
    font-style: oblique 0deg 12deg;
    font-stretch: 75% 125%;
    font-display: swap;
    src: url('https://rsms.me/inter/font-files/Inter.var.woff2?v=3.19') format('woff2-variations');
}

@font-face {
    font-family: 'Fira Code';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/firacode/v10/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7MOzlojwUKQ.woff);
}

html {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-neutral-0);
}

body {
    margin: 0;
}

img,
picture {
    display: block;
    width: 100%;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
