.container {
    box-sizing: border-box;
    cursor: pointer;
    font-family: var(--font-sans);
    font-size: var(--font-size-4);
    font-weight: var(--font-weight);
    line-height: var(--line-height-1);
    color: var(--color-text);
    background: transparent;
    text-align: center;
    height: var(--space-9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-2);
    padding-block: var(--space-3);
    padding-inline: var(--space-3);
    transition: border-color 150ms ease;
    border: 1px solid;
    border-radius: var(--space-1);
    border-color: var(--color-neutral-2);
    z-index: 0;
}

.container:hover {
    border-color: var(--color-neutral-6);
}

.select {
    appearance: none;
    outline: none;
    border: none;
    padding: none;
    margin: none;
    cursor: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    background-color: inherit;
    flex-grow: 1;
}

.icon {
    width: var(--space-5);
    height: var(--space-5);
}
