.base {
    width: 100%;
    padding: 1.5rem;
}

@media (min-width: 640px) {
    .base {
        padding: 1.5rem 2rem;
    }
}

@media (prefers-color-scheme: light) {
    .base {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    }

    .interactive {
        transition: box-shadow 200ms ease;
    }

    .interactive:hover {
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    }
}

@media (prefers-color-scheme: dark) {
    .base {
        border: 1px solid var(--color-lighter);
    }

    .interactive {
        transition: border-color 200ms ease;
    }

    .interactive:hover {
        border-color: var(--color-light);
    }
}

.project,
.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description {
    line-clamp: 3;
}

.footer {
    display: flex;
    justify-content: space-between;
}
