
@font-face {
    font-family: 'Inter';
    font-weight: 125 950;
    font-style: oblique 0deg 12deg;
    font-stretch: 75% 125%;
    font-display: swap;
    src: url('https://rsms.me/inter/font-files/Inter.var.woff2?v=3.19') format('woff2-variations');
}

@font-face {
    font-family: 'Fira Code';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/firacode/v10/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7MOzlojwUKQ.woff);
}

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

:root {
    /* ---- defaults ---- */

    --font-sans: 'Inter', sans-serif;
    --font-mono: 'Fira Code', monospace;
    --font-features-sans: "frac", "ss01", "cv01", "cv07", "cv10";
    --font-features-mono: "frac" 0;
    --font-size: clamp(12pt, 2vw, 14pt);
    --font-weight: 400;
    --line-height: 1.76;

    /* ---- variants ---- */

    /* font sizes */
    --font-size-1: calc(var(--scale-1) * var(--font-size));
    --font-size-2: calc(var(--scale-2) * var(--font-size));
    --font-size-3: calc(var(--scale-3) * var(--font-size));
    --font-size-4: calc(var(--scale-4) * var(--font-size));
    --font-size-5: calc(var(--scale-5) * var(--font-size));
    --font-size-6: calc(var(--scale-6) * var(--font-size));
    --font-size-7: calc(var(--scale-7) * var(--font-size));
    --font-size-8: calc(var(--scale-8) * var(--font-size));
    --font-size-9: calc(var(--scale-9) * var(--font-size));

    /* line heights */
    --line-height-1: calc(var(--scale-3) * var(--line-height));
    --line-height-2: calc(0.7 * var(--line-height));
    --line-height-3: calc(var(--scale-4) * var(--line-height));
    --line-height-4: calc(0.89 * var(--line-height));
    --line-height-5: calc(var(--scale-5) * var(--line-height));
    --line-height-6: calc(1.13 * var(--line-height));
    --line-height-7: calc(var(--scale-6) * var(--line-height));
    --line-height-8: calc(1.44 * var(--line-height));
    --line-height-9: calc(var(--scale-7) * var(--line-height));

    /* font weights */
    --font-weight-2: calc(var(--scale-2) * var(--font-weight));
    --font-weight-3: calc(var(--scale-3) * var(--font-weight));
    --font-weight-4: calc(var(--scale-4) * var(--font-weight));
    --font-weight-5: calc(var(--scale-5) * var(--font-weight));
    --font-weight-6: calc(var(--scale-6) * var(--font-weight));
    --font-weight-7: calc(var(--scale-7) * var(--font-weight));
    --font-weight-8: calc(var(--scale-8) * var(--font-weight));
}
