@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/firacode/v10/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7MOzlojwUKQ.woff);
}

@font-face {
    font-family: 'Inter';
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: oblique 0deg 12deg;
    src: url('https://rsms.me/inter/font-files/Inter.var.woff2?v=3.19') format('woff2-variations');
}

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

:root {
    /* ---- defaults ---- */

    --font-sans: 'Inter', sans-serif;
    --font-features-sans: "frac", "ss01", "cv01", "cv07", "cv10";
    --font-mono: 'Fira Code', monospace;
    --font-features-mono: "frac" 0;
    --font-size: 12pt;
    --font-weight: 400;
    --line-height: 1.76;
    --color-text: var(--color-neutral-6);

    /* ---- variants ---- */

    /* font sizes */
    --font-size-5xs: calc(0.38 * var(--font-size));
    --font-size-4xs: calc(0.45 * var(--font-size));
    --font-size-3xs: calc(0.53 * var(--font-size));
    --font-size-2xs: calc(0.62 * var(--font-size));
    --font-size-xs: calc(0.72 * var(--font-size));
    --font-size-sm: calc(0.85 * var(--font-size));

    --font-size-lg: calc(1.17 * var(--font-size));
    --font-size-xl: calc(1.38 * var(--font-size));
    --font-size-2xl: calc(1.62 * var(--font-size));
    --font-size-3xl: calc(1.9 * var(--font-size));
    --font-size-4xl: calc(2.23 * var(--font-size));
    --font-size-5xl: calc(2.62 * var(--font-size));

    /* line heights */
    --line-height-5xs: calc(0.62 * var(--line-height));
    --line-height-4xs: calc(0.67 * var(--line-height));
    --line-height-3xs: calc(0.72 * var(--line-height));
    --line-height-2xs: calc(0.79 * var(--line-height));
    --line-height-xs: calc(0.85 * var(--line-height));
    --line-height-sm: calc(0.92 * var(--line-height));

    --line-height-lg: calc(1.08 * var(--line-height));
    --line-height-xl: calc(1.17 * var(--line-height));
    --line-height-2xl: calc(1.27 * var(--line-height));
    --line-height-3xl: calc(1.38 * var(--line-height));
    --line-height-4xl: calc(1.49 * var(--line-height));
    --line-height-5xl: calc(1.62 * var(--line-height));

    /* font weights */
    --font-weight-thinnest: calc(0.48 * var(--font-weight));
    --font-weight-thinner: calc(0.62 * var(--font-weight));
    --font-weight-thin: calc(0.79 * var(--font-weight));

    --font-weight-bold: calc(1.27 * var(--font-weight));
    --font-weight-bolder: calc(1.62 * var(--font-weight));
    --font-weight-boldest: calc(2.06 * var(--font-weight));
}

@media (min-width: 640px) {
    :root {
        --font-size: 14pt;
    }
}
