@media (hover: hover) {
    .image {
        transition: filter 300ms ease;
        filter: grayscale(1);
    }

    .image:hover {
        filter: grayscale(0);
    }

    @media (prefers-color-scheme: dark) {
        .image {
            filter: brightness(70%);
        }

        .image:hover {
            filter: brightness(100%);
        }
    }
}
