/* ---- Global Defaults ---- */
.text {
    font-family: var(--font-sans);
    font-feature-settings: var(--font-features-sans);
    margin-block: 0;
}

/* ---- Individual Defaults ---- */
.type-h1,
.type-h2,
.type-h3,
.type-strong {
    color: var(--color-neutral-9);
}

.type-h1 {
    font-size: var(--font-size-9);
    line-height: var(--line-height-1);
    font-weight: var(--font-weight-8);
}

.type-h2 {
    font-size: var(--font-size-8);
    line-height: var(--line-height-2);
    font-weight: var(--font-weight-7);
}

.type-h3 {
    font-size: var(--font-size-7);
    line-height: var(--line-height-3);
    font-weight: var(--font-weight-6);
}

.type-strong {
    font-size: inherit;
    line-height: inherit;
    font-weight: var(--font-weight-7);
}

.type-p {
    color: var(--color-neutral-6);
    font-size: var(--font-size-5);
    line-height: var(--line-height-5);
    font-weight: var(--font-weight-5);
}

/* ---- Sizing ---- */
.size-1 {
    font-size: var(--font-size-1);
    line-height: var(--line-height-9);
}

.size-2 {
    font-size: var(--font-size-2);
    line-height: var(--line-height-8);
}

.size-3 {
    font-size: var(--font-size-3);
    line-height: var(--line-height-7);
}

.size-4 {
    font-size: var(--font-size-4);
    line-height: var(--line-height-6);
}

.size-5 {
    font-size: var(--font-size-5);
    line-height: var(--line-height-5);
}

.size-6 {
    font-size: var(--font-size-6);
    line-height: var(--line-height-4);
}

.size-7 {
    font-size: var(--font-size-7);
    line-height: var(--line-height-3);
}

.size-8 {
    font-size: var(--font-size-8);
    line-height: var(--line-height-2);
}

.size-9 {
    font-size: var(--font-size-9);
    line-height: var(--line-height-1);
}

/* weights */
.weight-2 {
    font-weight: var(--font-weight-2);
}

.weight-3 {
    font-weight: var(--font-weight-3);
}

.weight-4 {
    font-weight: var(--font-weight-4);
}

.weight-5 {
    font-weight: var(--font-weight-5);
}

.weight-6 {
    font-weight: var(--font-weight-6);
}

.weight-7 {
    font-weight: var(--font-weight-7);
}

.weight-8 {
    font-weight: var(--font-weight-8);
}
