.heading-1 {
    color: var(--color-neutral-9);
    font-family: var(--font-sans);
    font-size: var(--font-size-9);
    font-weight: var(--font-weight-9);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-1);
    font-feature-settings: var(--font-features-sans);
    margin: 0;
}

.heading-2 {
    color: var(--color-neutral-9);
    font-family: var(--font-sans);
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-8);
    line-height: var(--line-height-2);
    letter-spacing: var(--letter-spacing-2);
    font-feature-settings: var(--font-features-sans);
    margin: 0;
}

.heading-3 {
    color: var(--color-neutral-9);
    font-family: var(--font-sans);
    font-size: var(--font-size-7);
    font-weight: var(--font-weight-7);
    line-height: var(--line-height-3);
    letter-spacing: var(--letter-spacing-3);
    font-feature-settings: var(--font-features-sans);
    margin: 0;
}

.heading-4 {
    color: var(--color-neutral-9);
    font-family: var(--font-sans);
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-6);
    line-height: var(--line-height-4);
    letter-spacing: var(--letter-spacing-4);
    font-feature-settings: var(--font-features-sans);
    margin: 0;
}

.paragraph {
    color: var(--color-text);
    font-family: var(--font-sans);
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-5);
    line-height: var(--line-height-5);
    letter-spacing: var(--letter-spacing-5);
    font-feature-settings: var(--font-features-sans);
    margin: 0;
}

.inline {
    color: var(--color-text);
    font-size: var(--font-size-5);
    line-height: var(--line-height-5);
    font-weight: var(--font-weight-5);
    font-family: var(--font-sans);
    letter-spacing: var(--letter-spacing-5);
    font-feature-settings: var(--font-features-sans);
}

.strong {
    color: var(--color-neutral-8);
    font-family: inherit;
    font-size: inherit;
    font-weight: var(--font-weight-7);
    line-height: inherit;
    letter-spacing: inherit;
    font-feature-settings: inherit;
}

/* ---- Sizing ---- */
.size-1 {
    font-size: var(--font-size-1);
    line-height: var(--line-height-9);
    letter-spacing: var(--letter-spacing-9);
}

.size-2 {
    font-size: var(--font-size-2);
    line-height: var(--line-height-8);
    letter-spacing: var(--letter-spacing-8);
}

.size-3 {
    font-size: var(--font-size-3);
    line-height: var(--line-height-7);
    letter-spacing: var(--letter-spacing-7);
}

.size-4 {
    font-size: var(--font-size-4);
    line-height: var(--line-height-6);
    letter-spacing: var(--letter-spacing-6);
}

.size-5 {
    font-size: var(--font-size-5);
    line-height: var(--line-height-5);
    letter-spacing: var(--letter-spacing-5);
}

.size-6 {
    font-size: var(--font-size-6);
    line-height: var(--line-height-4);
    letter-spacing: var(--letter-spacing-4);
}

.size-7 {
    font-size: var(--font-size-7);
    line-height: var(--line-height-3);
    letter-spacing: var(--letter-spacing-3);
}

.size-8 {
    font-size: var(--font-size-8);
    line-height: var(--line-height-2);
    letter-spacing: var(--letter-spacing-2);
}

.size-9 {
    font-size: var(--font-size-9);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-spacing-1);
}

/* ---- Spacing ---- */
.width-sm {
    max-width: var(--width-sm);
    margin-inline: auto;
}

.width-md {
    max-width: var(--width-md);
    margin-inline: auto;
}

.width-lg {
    max-width: var(--width-lg);
    margin-inline: auto;
}

.width-xl {
    max-width: var(--width-xl);
    margin-inline: auto;
}
