.blockquote {
    font-family: var(--font-sans);
    font-feature-settings: var(--font-features-sans);
    font-size: var(--space-5);
    font-weight: var(--font-weight);
    font-style: italic;
    margin: var(--space-5) 0;
    padding-left: var(--space-7);
    border-left: var(--space-3) solid var(--color-neutral-3);
}
