.h1 {
    margin-block-end: var(--space-5);
    max-width: var(--width-sm);
    margin-inline: auto;
}

:is(article) .h1 {
    margin-block-end: var(--space-8);
}

.h2 {
    margin-block: var(--space-8) var(--space-7);
    max-width: var(--width-sm);
    margin-inline: auto;
}

.h3 {
    margin-block: var(--space-7) var(--space-6);
    max-width: var(--width-sm);
    margin-inline: auto;
}

.p {
    max-width: var(--width-sm);
    margin-block: var(--space-5);
    margin-inline: auto;
}

.pre {
    margin-block-end: var(--space-9);
}

.ol {
    box-sizing: border-box;
    max-width: var(--width-sm);
    margin-inline: auto;
    list-style-type: decimal;
    color: var(--color-text);
    font-family: var(--font-sans);
    font-size: var(--font-size);
    line-height: var(--line-height);
    padding-left: var(--space-9);
}

.ul {
    box-sizing: border-box;
    max-width: var(--width-sm);
    margin-inline: auto;
    list-style-type: circle;
    color: var(--color-text);
    font-family: var(--font-sans);
    font-size: var(--font-size);
    line-height: var(--line-height);
    padding-left: var(--space-9);
}

.ol > *,
.ul > * {
    margin: var(--space-3) 0;
}

.ol > *::marker,
.ul > *::marker {
    color: var(--color-neutral-4);
}
