.heading {
    margin-block: var(--space-7) var(--space-3);
}

.paragraph {
    margin-block: var(--space-5);
}

.orderedList {
    list-style-type: decimal;
    color: var(--color-text);
    font-family: var(--font-sans);
    font-size: var(--font-size);
    line-height: var(--line-height);
    padding-left: var(--space-9);
}

.unorderedList {
    list-style-type: circle;
    color: var(--color-text);
    font-family: var(--font-sans);
    font-size: var(--font-size);
    line-height: var(--line-height);
    padding-left: var(--space-9);
}

.orderedList > *,
.unorderedList > * {
    margin: var(--space-3) 0;
}

.orderedList > *::marker,
.unorderedList > *::marker {
    color: var(--color-neutral-4);
}
