/* ---- rehype-katex ---- */
@import url(https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css);

/* ---- remark-code-titles ---- */
.remark-code-title {
    font-family: var(--font-sans);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    margin: 2rem 1rem 1rem;
    color: var(--color-neutral-8);
}

/* ---- remark-footnotes ---- */
.footnotes {
    margin: 2rem 0;
    color: var(--color-text);
}

.footnotes ol {
    margin: 1rem 0;
    padding-left: 2em;
    list-style: decimal inside;
}

.footnotes li {
    margin: 0.5em 0;
}

/* ---- mdx-prism ---- */
pre {
    font-family: var(--font-mono);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight);
    tab-size: 4;
    line-height: var(--line-height);
    width: 100%;
    border: 1px solid var(--color-neutral-2);
    border-radius: 0.25rem;
    padding: 1rem 1.5rem;
    overflow: scroll;
}

.token.plain-text,
.token.attr-equals,
.language-yml .token.punctuation {
    color: var(--color-stronger);
}

.token.comment {
    color: var(--color-light);
}

.token.keyword,
.token.selector,
.token.unit,
.token.atrule,
.language-bash .token.operator {
    color: hsl(330deg, 100%, 50%);
}

.token.function,
.token.class-name,
.token.tag,
.language-yml .token.key {
    color: hsl(210deg, 100%, 50%);
}

.token.number {
    color: hsl(180deg, 50%, 50%);
}

.token.string,
.token.attr-value,
.language-yml {
    color: hsl(120deg, 50%, 50%);
}

.token.attr-name {
    color: hsl(30deg, 100%, 40%);
}
