/* ---- katex ---- */
.math.math-display {
    margin-block: var(--space-14);
    overflow-x: hidden;
}

/* ---- highlight.js ---- */
.hljs-comment {
    color: var(--color-neutral-6);
}
.hljs-keyword,
.hljs-selector-class {
    color: hsl(330deg, 100%, 50%);
}
.hljs-tag,
.hljs-class,
.hljs-property {
    color: hsl(210deg, 100%, 50%);
}
.hljs-attr {
    color: hsl(30deg, 100%, 40%);
}
.hljs-string {
    color: hsl(120deg, 50%, 50%);
}

/* prism.js

.token.plain-text,
.token.attr-equals,
.language-yml .token.punctuation {
    color: var(--color-stronger);
}

.token.comment {
    color: var(--colors-neutral-8);
}

.token.keyword,
.token.selector,
.token.unit,
.token.atrule,
.language-bash .token.operator {
    color: hsl(330deg, 100%, 50%);
}

.token.function,
.token.class-name,
.token.tag,
.language-yml .token.key {
    color: hsl(210deg, 100%, 50%);
}

.token.number {
    color: hsl(180deg, 50%, 50%);
}

.token.string,
.token.attr-value,
.language-yml {
    color: hsl(120deg, 50%, 50%);
}

.token.attr-name {
    color: hsl(30deg, 100%, 40%);
}
*/
