/* ---- Global Defaults ---- */
.text {
    font-family: var(--font-sans);
    margin: 0;
}

/* ---- Individual Defaults ---- */
.h1,
.h2,
.h3 {
    color: var(--color-neutral-8);
    line-height: var(--line-height-tight);
}

.h1 {
    font-size: var(--font-size-5xl);
    font-weight: var(--font-weight-boldest);
}

.h2 {
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-bolder);
}

.h3 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
}

.p {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    color: var(--color-neutral-5);
}
