.home {
    max-width: 42rem;
    margin: auto;
}

.gradient {
    color: transparent;
    background:
        linear-gradient(
            45deg,
            var(--color-secondary),
            var(--color-primary)
        );
    background-clip: text;
}

.home > section {
    margin: 5rem 0;
}

.grid {
    display: grid;
    gap: 1rem;
    margin: 1.5rem 0;
}

.contact_links {
    display: flex;
    justify-content: center;
}

.contact_links > * {
    margin: 1rem;
}
