:root {
    --space-0: 0;

    --space-1: calc(1em * var(--scale-1));
    --space-2: calc(1em * var(--scale-2));
    --space-3: calc(1em * var(--scale-3));
    --space-4: calc(1em * var(--scale-4));
    --space-5: calc(1em * var(--scale-5));
    --space-6: calc(1em * var(--scale-6));
    --space-7: calc(1em * var(--scale-7));
    --space-8: calc(1em * var(--scale-8));
    --space-9: calc(1em * var(--scale-9));

    --space-root-1: calc(1rem * var(--scale-1));
    --space-root-2: calc(1rem * var(--scale-2));
    --space-root-3: calc(1rem * var(--scale-3));
    --space-root-4: calc(1rem * var(--scale-4));
    --space-root-5: calc(1rem * var(--scale-5));
    --space-root-6: calc(1rem * var(--scale-6));
    --space-root-7: calc(1rem * var(--scale-7));
    --space-root-8: calc(1rem * var(--scale-8));
    --space-root-9: calc(1rem * var(--scale-9));
}
