.select {
    appearance: none;
    outline: none;
    cursor: pointer;
    font-family: var(--font-sans);
    color: var(--color-text);
    background-color: transparent;
    background-image: url('/icons/arrow-down.svg');
    background-position: right 0.8em center;
    background-repeat: no-repeat;
    background-size: 0.8em;
    text-align: center;
    padding: 0.5em 2em 0.5em 0.8em;
    transition: border-color 150ms ease;
    border: 1px solid;
    border-radius: 0.24em;
    border-color: var(--color-neutral-2);
}

.select:hover {
    border-color: var(--color-neutral-4);
}

/* sizes */
.size-sm {
    font-size: var(--font-size-xs);
}

.size-md {
    font-size: var(--font-size-sm);
}

.size-lg {
    font-size: var(--font-size);
}
