.button {
    cursor: pointer;
    font-family: var(--font-sans);
    font-size: var(--font-size-4);
    line-height: var(--line-height-6);
    padding-block: var(--space-root-1);
    padding-inline: var(--space-root-4);
    border-radius: var(--space-root-1);
    transition: all 200ms ease;
}

.primary,
.secondary {
    border: 1px solid var(--color-neutral-9);
}

.primary {
    color: var(--color-neutral-1);
    background-color: var(--color-neutral-9);
}

.primary:hover {
    color: var(--color-neutral-9);
    background-color: var(--color-neutral-1);
}

.secondary {
    color: var(--color-neutral-9);
    background-color: var(--color-neutral-1);
}

.secondary:hover {
    color: var(--color-neutral-1);
    background-color: var(--color-neutral-9);
}

.minimal {
    color: inherit;
    border: none;
    background: none;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: light) {
    .minimal:hover {
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    }
}

@media (prefers-color-scheme: dark) {
    .minimal:hover {
        background-color: var(--color-neutral-2);
    }
}
