.code {
    display: inline-block;
    font-feature-settings: var(--font-features-mono);
    font-family: var(--font-mono);
    font-size: var(--space-5);
    font-weight: var(--font-weight);
    line-height: var(--line-height-1);
    padding-inline: 0.4em;
    padding-block: 0.3em;
    border-radius: var(--space-1);
    background-color: var(--color-neutral-1);
}
