.root {
    color: var(--color-text);
    font-family: var(--font-sans);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-lg);
    letter-spacing: var(--letter-spacing-6);
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    vertical-align: middle;
}

.head {
    color: var(--color-neutral-9);
}

.item {
    padding: var(--space-3) var(--space-5);
    border: 1px solid var(--color-neutral-3);
}
