.table {
    color: var(--color-text);
    font-family: var(--font-sans);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-lg);
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    vertical-align: middle;
}

.table * {
    border: 1px solid var(--color-neutral-3);
}

.table th {
    padding: var(--space-3);
}

.table td {
    padding: var(--space-3) var(--space-5);
}
