@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

.centreCircle {
    stroke-dasharray: 22;
    stroke-dashoffset: 22;
    animation: draw 1.2s linear 0.6s forwards;
}

.majorEdge {
    stroke-dasharray: 112;
    stroke-dashoffset: 112;
    animation: draw 1.8s linear 0s forwards;
}

.minorEdge {
    stroke-dasharray: 60;
    stroke-dashoffset: 60;
    animation: draw 1.8s linear 0s forwards;
}
