.list {
    color: var(--color-text);
    font-family: var(--font-sans);
    font-size: var(--font-size);
    font-feature-settings: var(--font-features-sans);
    line-height: var(--line-height);
    margin: 0;
    padding-left: var(--space-9);
}

.type-ordered {
    list-style-type: decimal;
}

.type-unordered {
    list-style-type: circle;
}

.item {
    margin-block: var(--space-1);
}

.item::marker {
    color: var(--color-neutral-4);
}
