/* base defaults */
.link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

/* variant defaults */
.highlight {
    transition: border 150ms ease;
    color: var(--color-blue);
    border-bottom: 0.09em solid;
    border-bottom-color: transparent;
}

.highlight:hover {
    border-bottom-color: var(--color-blue);
}

.primary {
    transition: border 150ms ease;
    color: var(--color-neutral-9);
    border-bottom: 0.09em solid;
    border-bottom-color: transparent;
}

.primary:hover {
    border-bottom-color: var(--color-neutral-9);
}

.secondary {
    transition: color 150ms ease;
    color: var(--color-neutral-6);
}

.secondary:hover {
    color: var(--color-neutral-8);
}

.disabled {
    cursor: default;
    color: var(--color-neutral-5);
}
