.button {
    cursor: pointer;
    color: var(--color-neutral-0);
    background-color: var(--color-neutral-8);
    font-family: var(--font-sans);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-lg);
    border: 1px solid var(--color-neutral-8);
    border-radius: 0.38em;
    transition-property: color, background-color;
    transition-timing-function: ease;
}

.button:hover {
    color: var(--color-neutral-8);
    background-color: var(--color-neutral-0);
}

/* sizes */
.sm {
    padding: 0 0.62em;
    transition-duration: 100ms;
}

.md {
    padding: 0.38em 1em;
    transition-duration: 200ms;
}

.lg {
    padding: 0.62em 1.62em;
    transition-duration: 300ms;
}
