.select {
    appearance: none;
    cursor: pointer;
    color: var(--color-strong);
    background-color: transparent;
    background-image: url('/icons/arrow-down.svg');
    background-position: right 0.8rem center;
    background-repeat: no-repeat;
    background-size: 0.8rem;
    text-align: center;
    padding: 0.4rem 2rem 0.4rem 0.8rem;
    transition: border-color 150ms ease-in-out;
    border: 1px solid;
    border-radius: 0.25rem;
    border-color: var(--color-lighter);
}

.select:hover {
    border-color: var(--color-light);
}
