.input {
    appearance: none;
    outline: none;
    width: 100%;
    padding: 0.5em 1em;
    color: var(--color-text);
    font-family: var(--font-sans);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-lg);
    background-color: transparent;
    border: 1px solid;
    border-radius: 0.38em;
    border-color: var(--color-neutral-2);
}

.input:hover {
    border-color: var(--color-neutral-4);
}

.input:focus {
    border-color: var(--color-neutral-4);
}

.input::placeholder {
    color: var(--color-neutral-4);
}
