.date,
.email,
.number,
.password,
.search,
.tel,
.text,
.time,
.url {
    box-sizing: border-box;
    appearance: none;
    outline: none;
    font-family: var(--font-sans);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-lg);
    color: var(--color-text);
    background-color: transparent;
    width: 100%;
    padding: var(--space-3) var(--space-5);
    border: 1px solid var(--color-neutral-2);
    border-radius: var(--space-1);
}

.date:hover,
.email:hover,
.numberv,
.password:hover,
.search:hover,
.tel:hover,
.text:hover,
.time:hover,
.url:hover {
    border-color: var(--color-neutral-4);
}

.date:focus,
.email:focus,
.number:focus,
.password:focus,
.search:focus,
.tel:focus,
.text:focus,
.time:focus,
.url:focus {
    border-color: var(--color-neutral-6);
    backdrop-filter: blur(20px);
}

.email::placeholder,
.number::placeholder,
.password::placeholder,
.search::placeholder,
.tel::placeholder,
.text::placeholder,
.url::placeholder {
    color: var(--color-neutral-4);
}
