.pre {
    margin-block-end: var(--space-7);
    max-width: var(--width-md);
    margin-inline: auto;
}

.blockquote {
    max-width: var(--width-sm);
    margin-inline: auto;
}

.figure {
    margin-block: var(--space-9);
}

.image {
    max-width: var(--width-md);
    margin-block: var(--space-9);
    margin-inline: auto;
}

@media (hover: hover) {
    .image {
        transition: transform 300ms ease;
    }

    .image:hover {
        transform: scale(1.05);
    }
}
