.h1 {
    margin-block-end: var(--space-5);
}

:is(article) .h1 {
    margin-block-end: var(--space-9);
}

.h2 {
    margin-block: var(--space-9) var(--space-8);
}

.h3 {
    margin-block: var(--space-8) var(--space-7);
}

.h4 {
    margin-block: var(--space-7) var(--space-6);
}

.p {
    margin-block: var(--space-5);
}
