/* ---- remark ---- */
.remark-code-title {
    @apply mx-4 my-2 text-right text-strong;
}

/* ---- prism ---- */
.token.comment {
    @apply text-light;
}
.token.attr-equals {
    @apply text-stronger;
}
.token.keyword,
.token.selector,
.token.unit,
.token.atrule {
    @apply text-crimson;
}
.token.function,
.token.class-name,
.token.tag,
.token.number {
    @apply text-azure;
}
.token.string,
.token.attr-value {
    color: hsl(170, 100%, 35%);
}
.token.attr-name {
    color: hsl(40, 100%, 35%);
}

/* bash */
.language-bash .token.operator {
    @apply text-crimson;
}

/* YAML */
.language-yml {
    color: hsl(170, 100%, 35%);
}
.language-yml .token.key {
    @apply text-azure;
}
.language-yml .token.punctuation {
    @apply text-stronger;
}
