@tailwind components;

@layer components {
    .base-card {
        @apply w-full p-6 text-left transition duration-300 ease-in-out sm:px-8;
    }
    @media (prefers-color-scheme: light) {
        .card {
            @apply shadow base-card;
        }
        .link-card {
            @apply shadow-lg base-card hover:shadow-xl;
        }
    }
    @media (prefers-color-scheme: dark) {
        .card {
            @apply border rounded base-card;
        }
        .link-card {
            @apply border rounded base-card hover:border-strong;
        }
    }

    .logo-circles-centre {
        stroke-dasharray: 15;
        stroke-dashoffset: 15;
        animation: draw 0.5s linear 1s forwards;
    }

    .logo-circles-edge {
        stroke-dasharray: 40;
        stroke-dashoffset: 40;
        animation: draw 1s linear 0s forwards;
    }
    .logo-helpers-edge {
        stroke-dasharray: 20;
        stroke-dashoffset: 20;
        animation: draw 0.5s linear 0.3s forwards;
    }
}
