@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    src: url("/fonts/Inter-roman.var.woff2?v=3.15") format("woff2");
}

@layer base {
    :root {
        color-scheme: light dark;
    }
    html {
        @apply text-black bg-white dark:text-white dark:bg-black;
    }
    h1 {
        @apply text-4xl font-extrabold sm:text-5xl;
    }
    h2 {
        @apply text-3xl font-bold sm:text-4xl;
    }
    h3 {
        @apply text-xl font-semibold;
    }
    section {
        @apply my-16;
    }
}

@layer components {
    .subtitle {
        @apply my-4 text-gray-700 sm:text-lg dark:text-gray-400;
    }
}

@layer utilities {
    @supports (backdrop-filter: blur()) {
        .bg-blur {
            @apply bg-opacity-80 dark:bg-opacity-60;
            backdrop-filter: blur(20px);
        }
    }
}
