@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    font-weight: 100 900;
    font-display: optional;
    font-style: normal;
    src: url("/fonts/inter.woff2") format("woff2");
}

@layer base {
    :root {
        color-scheme: light dark;
    }
    html {
        @apply text-black bg-white dark:text-white dark:bg-black;
    }
    h1 {
        @apply text-4xl font-extrabold sm:text-5xl;
    }
    h2 {
        @apply text-3xl font-bold sm:text-4xl;
    }
    h3 {
        @apply text-2xl font-semibold sm:text-3xl;
    }
    h4 {
        @apply text-xl font-medium sm:text-2xl;
    }
    p {
        @apply text-gray-600 dark:text-gray-400;
    }
    section {
        @apply my-16;
    }

    article h1 {
        @apply mb-4;
    }
    article h2 {
        @apply mt-12;
    }
    article h3 {
        @apply mt-8;
    }
    article h4 {
        @apply mt-4;
    }
    article p {
        @apply mt-2;
    }
    article ul {
        @apply mt-4;
    }
    article a {
        @apply text-blue-400;
    }
    article code {
        @apply p-1 py-0.5 font-mono bg-gray-100 rounded dark:bg-gray-800;
    }
    article pre {
        @apply px-4 py-2 my-2 overflow-x-scroll font-mono bg-gray-100 rounded dark:bg-gray-800;
    }
}

@layer components {
    button.card {
        @apply text-left border rounded hover:bg-gray-100 dark:hover:bg-gray-800 dark:border-gray-700;
    }
    .subtitle {
        @apply my-4 sm:text-lg;
    }
}

@layer utilities {
    @supports (backdrop-filter: blur()) {
        .bg-blur {
            @apply bg-opacity-80 dark:bg-opacity-60;
            backdrop-filter: blur(20px);
        }
    }
}
