@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Inter';
        font-weight: 100 900;
        font-display: optional;
        src: url('/fonts/inter.woff2') format('woff2');
    }

    :root {
        color-scheme: light dark;
        --gray: 65%;
    }

    @media (prefers-color-scheme: light) {
        :root {
            --background: 100%;
            --lightest: 90%;
            --light: 80%;
            --default: 60%;
            --strong: 40%;
            --strongest: 20%;
            --foreground: 0%;
        }
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: 0%;
            --lightest: 20%;
            --light: 30%;
            --default: 50%;
            --strong: 70%;
            --strongest: 90%;
            --foreground: 100%;
        }
    }

    html {
        @apply bg-background text-gray-strong;
    }

    h1,
    h2,
    h3,
    h4 {
        @apply text-foreground;
    }

    h1 {
        @apply mb-6 text-4xl font-extrabold sm:text-5xl;
    }
    h2 {
        @apply mb-4 text-3xl font-bold sm:text-4xl;
    }
    h3 {
        @apply text-2xl font-semibold sm:text-3xl;
    }
    h4 {
        @apply text-xl font-medium sm:text-2xl;
    }
    p {
        @apply sm:text-lg;
    }

    hr {
        @apply border border-gray-lightest;
    }
    select {
        @apply py-1 pl-3 pr-8 text-center bg-transparent border rounded appearance-none cursor-pointer border-gray-light;
        background-image: url('/icons/select.svg');
        background-position: 75% center;
        background-repeat: no-repeat;
        background-size: 0.75em 0.75em;
    }
}

@layer utilities {
    @media (prefers-color-scheme: light) {
        .card {
            @apply w-full p-6 text-left transition duration-300 ease-in-out shadow hover:shadow-lg sm:px-8;
        }
    }
    @media (prefers-color-scheme: dark) {
        .card {
            @apply w-full p-6 text-left border rounded border-gray-light hover:border-gray sm:px-8;
        }
    }

    @supports (backdrop-filter: blur()) {
        .glass {
            backdrop-filter: blur(20px);
        }
    }
    @supports not (backdrop-filter: blur()) {
        .glass {
            @apply bg-background;
        }
    }
}
