.center {
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    max-width: 42rem;
    gap: 1rem;
    margin: 2rem auto;
}

@media (min-width: 768px) {
    .grid {
        max-width: 48rem;
        grid-template-columns: 1fr 12rem 1fr;
        gap: 2rem;
    }

    .grid > * {
        grid-column: span 2 / span 2;
    }

    .grid > *:nth-child(odd) {
        grid-column-start: 1;
    }

    .grid > *:nth-child(even) {
        grid-column-start: 2;
    }
}
